@import "../default/style.css";

/* Redefine default styles here */

#card-number-field > label, #card-holder-field > label, #card-expires-field > label, #card-cvc-field > label, #cvc-hint {
    display: none !important;
}

#card-expires-field {
    width: 48%;
    float: left;
}

#card-cvc-field {
    width: 48%;
    float: right;
}

#input-card-cvc {
    width: 100% !important;
}

#payment-description, #order-details, footer, #payment-data-shipping, #payment-data-billing, #payment-data-accept, #action-cancel {
    display: none !important;
}

#payment-data-fields {
    width: 100% !important;
    padding: 0 !important;
    background-color: #f3f3f3;
}

#payment-form .form-input {
    width: 100% !important;
}

#payment-actions {
    margin-top: 80px;
}

#payment-form .form-input input, #payment-form .form-input select {
    transition: none !important;
    border-radius: 4px !important;
    border: 1px solid #c1c1c1;
}

#payment-form input:not(.error), #payment-form select:not(.error) {
    margin-bottom: 27px;
}

#payment-form fieldset, #payment-form .form-group {
    margin-bottom: 16px;
}

#main-container, #action-submit, #payment-actions .form-group {
    margin: 0 !important;
}

#payment-form label.error {
    margin-bottom: -6px;
}